/*place global styles here */
@font-face {
	/* Reference name */
	font-family: 'Inter';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
	font-display: swap;
}

html, body {
	@apply h-full overflow-hidden;
}

section {
	max-width: 1536px;
	width: 100%;
	margin: auto;
}
